<ion-view view-title="Configuration">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon button-balanced"
                ng-class="{
                            'ion-ios-search': !platform.android,
                            'ion-android-search': platform.android
                        }">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-if="!isLoggedIn()" ng-click="showSignInModal()">
                <i class="ion-log-in"></i> Sign In
            </ion-item>
            <ion-item ng-if="isLoggedIn()" ng-click="logout()">
                <i class="ion-log-out"></i> Logout
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
