<ion-view view-title="ionicWhatsApp">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon"
                ng-class="{
                            'ion-ios-search': !platform.android,
                            'ion-android-search': platform.android
                        }">
        </button>
        <button class="button button-icon"
                ng-class="{
                        'ion-ios-plus-empty': !platform.android,
                        'ion-android-add': platform.android
                    }">
        </button>
    </ion-nav-buttons>
    <ion-content>
    </ion-content>
</ion-view>
