<ion-view view-title="Contacts">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon"
                ng-class="{
                        'ion-ios-search': !platform.android,
                        'ion-android-search': platform.android
                    }">
        </button>
        <button class="button button-icon"
                ng-class="{
                    'ion-ios-personadd': !platform.android,
                    'ion-android-person-add': platform.android
                }">
        </button>
    </ion-nav-buttons>
    <ion-content>
    </ion-content>
</ion-view>
