<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <ion-title>Sign In</ion-title>
        <button class="button button-balanced button-icon"
                ng-class="{
                    'ion-ios-close-empty': !platform.android,
                    'ion-android-close': platform.android
                }"
                ng-click="signIn.modal.hide()">
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Cel. Number</span>
                <input type="tel" ng-model="signIn.celNumber" placeholder="(xx) xxxxx-xxxx">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="signIn.password">
            </label>
            <ion-item>
                <button class="button button-block button-balanced" ng-click="signIn.submit()">
                    Sign In
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
